@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<Portfolio.ViewModels.VisitorsViewModel>

@{
    ViewData["Title"] = "Visitors";
    var IsAuthenticated = (bool)ViewBag.IsAuthenticated;
}
<link href="~/css/pagedlist.css" rel="stylesheet" />

<section>
    <div class="container-fluid p-5">
        <div style="margin-bottom: 5px">
            <h4 style="color: orangered; text-align: center;" id="changing-heading">@ViewBag.TotalRecords visitors</h4>
            <button id="filterToggleButton" class="btn btn-outline-info"><i id="filterToggleIcon" class="bi bi-plus"></i>Filter</button>
            <div id="filterFormContainer">
                <form asp-action="Visitors">
                    <div class="flex-button">
                        <div class="form-group">
                            <small class="form-text text-muted">From</small>
                            <input class="form-control" id="startDate" name="startDate" type="date" value="@ViewBag.StartDate" />
                        </div>
                        <div class="form-group">
                            <small class="form-text text-muted">To</small>
                            <input class="form-control" id="endDate" name="endDate" type="date" value="@ViewBag.EndDate" />
                        </div>
                        <div class="form-group">
                            <small class="form-text text-muted">Search</small>
                            <input class="form-control" id="searchString" name="searchString" type="text" value="@ViewBag.SearchString" placeholder="Country/City/Device..." />
                        </div>

                        <div class="form-group">
                            <br />
                            <input type="submit" style="float : right;" class="btn btn-outline-dark" value="View" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        @if (IsAuthenticated)
                        {
                            <th>IP Address</th>
                        }
                        <th>Visit Time</th>
                        <th>Operating System</th>
                        <th>OS Version</th>
                        <th>Browser</th>
                        <th>Browser Version</th>
                        <th>Device Type</th>
                        <th>Device Brand</th>
                        <th>Device Model</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Timezone</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (IsAuthenticated)
                            {
                                <td>@item.IPAddress</td>
                            }
                            <td>@item.VisitTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td>@item.OperatingSystem</td>
                            <td>@item.OperatingSystemVersion</td>
                            <td>@item.Browser</td>
                            <td>@item.BrowserVersion</td>
                            <td>@item.DeviceType</td>
                            <td>@item.DeviceBrand</td>
                            <td>@item.DeviceModel</td>
                            <td>@item.City</td>
                            <td>@item.Country</td>
                            <td>@item.Timezone</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div style="text-align: left">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Visitors", new { page, searchString = ViewBag.SearchString, startDate = ViewBag.StartDate, endDate = ViewBag.EndDate }))
        </div>
    </div>
</section>

