<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sakib's Portfolio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="~/css/home/layoutcontent.css" rel="stylesheet" />
    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/assets/vendor/boxicons/css/boxicons.css" rel="stylesheet" />
    <!-- Template Main CSS File   -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!-- Datatable CDN for style -->
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet">

    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-D8P8SMRTS1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-D8P8SMRTS1');
    </script>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container-fluid d-flex justify-content-between align-items-center">

            @* <h1 class="circle"><a id="myH" asp-action="Index" asp-controller="Home">Sakib</a></h1> *@
            <!-- Uncomment below if you prefer to use an image logo -->
            <a asp-action="Index" asp-controller="Home" class="logo"><img src="~/logo/mylogo.png" class="img-fluid" /></a>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li class="nav-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="nav-item"><a asp-action="About" asp-controller="MY_PROFILE">About</a></li>
                    <li class="nav-item"><a asp-action="Resume" asp-controller="MY_PROFILE">Resume</a></li>
                    <li class="nav-item"><a asp-action="Projects" asp-controller="MY_PROFILE">Projects</a></li>
                    <li class="nav-item"><a asp-action="Contact" asp-controller="MY_PROFILE">Contact</a></li>
                    <li class="nav-item"><a asp-action="Visitors" asp-controller="MY_PROFILE">Visitors</a></li>
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#">Admin</a>
                            <ul>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Edit About</a>
                                    <ul>
                                        <li class="nav-item"><a asp-action="Index" asp-controller="PROFILE_COVER">Edit Cover</a></li>
                                        <li class="nav-item"><a asp-action="Index" asp-controller="MY_PROFILE">Edit Profile</a></li>
                                        <li class="nav-item"><a asp-action="Index" asp-controller="MY_SKILL">Edit Skills</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#">Resume</a>
                                    <ul>
                                        <li class="nav-item"><a asp-action="Index" asp-controller="EDUCATION">Edit Education</a></li>
                                        <li class="nav-item"><a asp-action="Index" asp-controller="EXPERIENCE">Edit Experience</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="CV">Edit CV</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="PROJECTS">Edit Projects</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="DESCRIPTIONs">Edit Description</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Logs">Logs</a>
                                </li>

                                <li class="nav-item">
                                    @if (@ViewBag.Message != null)
                                    {
                                        @if (@ViewBag.Message != "0")
                                        {
                                            <a style="color:red;" asp-action="PendingIndex" asp-controller="CONTACTS">Messages <span>@ViewBag.Message</span></a>
                                        }
                                        else
                                        {
                                            <a asp-action="PendingIndex" asp-controller="CONTACTS">Messages</a>
                                        }
                                    }
                                    else
                                    {
                                        <a asp-action="PendingIndex" asp-controller="CONTACTS">Messages</a>
                                    }
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="header-social-links">
                <a href="https://github.com/SakibASP" class="github" target="_blank"><i class="bi bi-github"></i></a>
                <a href="https://www.linkedin.com/in/md-sakibur-rahman-070853196/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                <a href="https://twitter.com/Sakibur78738178" class="twitter" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/sakibur.rahman.rocky" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/sakibur_rocky/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
            </div>

        </div>

    </header><!-- End Header -->

    <div>
        <div class="myContainer">
            @RenderBody()
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Sakib</span></strong>
            </div>
            <div class="credits">
                <strong>Powered by .NET</strong>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <input type="submit" value="Logout" />
                </form>
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login">Login</a>
            }


        </div>
    </footer><!-- End  Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/waypoints/noframework.waypoints.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Datatable CDN for Javascript -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.dtable').DataTable();
        });
    </script>
</body>
</html>